*{
  box-sizing: border-box;
}
body{
  margin:0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
}
h1, h2 h3, p{
  margin: 0;
}
h1{
  font-family: 'Texturina', 'serif';
  font-size: 2rem;
  letter-spacing: 0.125rem;
  text-align: center;
  color:#555;
}

.hide{
  display: none;
}

.container{
  width:50%;
  margin: 3em auto;
  /* border:1px solid red; */
}

textarea, .btn, .diary{
  width:100%;
  font-size:1.2rem;
  font-weight: 700;
  padding: 1em;
  border:0;
  color:#FFF;
  background-color: #DDD;
  margin:2px 0;
  /* border-radius: 20px; */
}
textarea{
  background-color: orange;
}
.btn-form{
  background: navy;
  margin: 2px 0 10px;
}
.btn-form:hover{
  cursor: pointer;
}
.diary{
  background: #EEE;
  color:#222;
}
